.modalBackgraund{
    background: rgba(0, 0, 0, 0.555);
    position: fixed;
    top: -10px;
    bottom: -10px;
    left: -10px;
    right: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    z-index: 20;
}